name: Run Claude Code

on:
  schedule:
    - cron: "0 */5 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run Claude Code
        uses: anthropics/claude-code-action@v1
        with:
          claude_code_oauth_token: ${{ secrets.CLAUDE_CODE_OAUTH_TOKEN }}
          prompt: |
            Hi Claude, thanks for all you do!
          claude_args: |
            --dangerously-skip-permissions
            --model claude-haiku-4-5
